.EnrollBtn{
    border:solid 2px #000000;
    width:46%;
    height: 40px;
    background-color: #d65b5b;
    font-size:20px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    float: right;
}
#Enroll_Container input{
    height:32px;
    padding:5px;
    margin-top:5px;
    
}
.enroll_id{
    width:100%;
    margin-bottom: 20px;
}
.enroll_pw{
    width:100%;
    margin-bottom: 20px;
}
.enroll_nickname{
    width:100%;
    margin-bottom: 20px;
}
.enroll_name{
    width:100%;
    margin-bottom: 20px;
}
.enroll_phoneNum{
    width:100%;
    margin-bottom: 20px;
}
.submit_btn{
    width:100%;
    height:32px;
    line-height: 32px;
    background-color: #dcdcdc;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
}

.input_double_check{
    width:80%;
    float:left;
}

.input_non_double_check{
    width:100%;
}

.id_double_check{
    height:32px;
    padding:5px;
    font-size:12px;
    line-height: 32px;
    text-align: center;
    margin-top:5px;
    background-color: #dcdcdc;
    width: 18%;
    float:right;
}

.doubleckecked_input{
    height: fit-content;
    width: 80%;
    margin-bottom: 20px;
}

.nondoubleckecked_input{
    height: fit-content;
    width:100%;
    margin-bottom:20px;
}