.crewDetail{
    height:800px;
    width:100%;
}

.crewDetail_crewInfo{
    height: 60%;
    width:100%;
}

.crewDetail_crewInfo_image_backBtn{
    padding: 5%;
    position: absolute;
    z-index: 2;
}

.crewDetail_crewInfo_image{
    position: relative;
    width:100%;
    height:45%;
    z-index: 1;
    background-size:cover;
    border-radius: 4%;
}

.crewDetail_crewInfo_info{
    height: 55%;
    width:100%;
    padding: 5%;
}

.crewDetail_crewInfo_info_block1{
    height:20%;
}

.crewDetail_crewInfo_info_block2{
    height:20%;
}

.crewDetail_crewInfo_info_title{
    float:left;
    font-size: 22px;
    font-weight: bold;
    width: 60%;
    height: 40px;
}

.crewDetail_crewInfo_info_plusBtn{
    float: left;
    font-size: 14px;
    height: 40px;
    margin-right: 13px;
}

.crewDetail_crewInfo_info_adminBtn{
    display: inline-block;
    height: 40px;
    font-size: 14px;
    color: #487886;
    margin-bottom: 9px;
    margin-left: 8px;
}

.crewDetail_crewInfo_info_activityArea{
    height: 15px;
    font-size: 12px;
    color: #b1b1b1;
    margin-bottom: 7px;
}

.crewDetail_crewInfo_info_category{
    height: 15px;
    font-size: 12px;
    color: #b1b1b1;
    margin-bottom: 16px;
}

.crewDetail_crewInfo_info_description{
    height: 30%;
    font-size: 14px;
    color: #6d6d6d;
}

.crewDetail_crewInfo_info_joinBtn{
    text-align: center;
    background-color: #487886;
    border-radius: 6px;
    width:50%;
    margin:auto;
    color:#ffffff;
    font-size:14px;
    height:44px;
    width: 205px;
    line-height: 45px;
    letter-spacing: 0.4px;
}

.crewDetail_crewMember{
    width: 100%;
    height: 40%;
    padding: 5%;
}

.crewDetail_crewMember_title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 26px;
}

.crewDetail_crewMember_list_image{
    width: 85px;
    height: 85px;
    float: left;
    margin-right: 32px;
    background-size:cover;
}

.crewDetail_crewMember_list_name{
    font-size: 16px;
    font-weight: bold;
    height: 19px;
    margin-bottom: 8px;
}

.crewDetail_crewMember_list_intro{
    font-size: 12px;
    color: #6d6d6d;
    height: 48px;
}