.white_background{
    background-color: white;
}

.margin_left{
    margin-left:25%;
}

.common_link{
    color:inherit;
    text-decoration: none;
}

.down_header_content{
    width:25%;
    height: 100%;
    float: left;
    font-size:12px;
    font-weight: 100;
    padding-top:20px;
}

.down_header_content_right{
    float:right;
}

.down_header_position_absolute{
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    font-size:12px;
    color:#b8b8b8;
    background-color: #ffffff;
    z-index: 10;
    width:100%;
    height: 90px;
    bottom:0px;
    text-align:center;
    position:absolute;
}

.down_header{
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    font-size:12px;
    color:#b8b8b8;
    background-color: #ffffff;
    z-index: 10;
    position:fixed;
    width:90%;
    height: 90px;
    bottom:0px;
    text-align:center;
}

.down_header_content_img{
    height:30px;
    width:30px;
    margin:auto;
}

.down_header_content_img img{
    width:100%;
    height:100%;
}

.none_data{
    width:100%;
    height:120px;
    text-align: center;
    font-size:16px;
    color: #000000;
    font-weight: bold;
}

.none_data img{
    width:100px;
    height:75px;
}

.navi_tab{
    height:50px;
    width:100%;
    text-align: center;
    margin-bottom:30px;
    font-size:18px;
    line-height: 50px;
}

.navi_tab_div{
    width:50%;
    float:left;
    height:100%
}

.active{
    font-weight: bolder;
    border-bottom: solid 2px #0e4b6f;
}

.unactive{
    font-weight: 300;
}

.last_content{
    margin-bottom:60px;
}

.pad_bot{
    padding-bottom:70px;
}